.footer {
    background-color: #6278F7;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer div {
    display: flex;
    gap: 30px;
}

.footer p {
    color: #FFFF;
    width: 500;
    font-size: 20px;
}